  :8080 {
    tls off
    log stdout
    errors stdout

    root /var/www/application/dist/

    rewrite {
        if {path} not /status
        to {path} /index.php?{query}
    }

    fastcgi /status app {
        env SCRIPT_NAME /status
    }

    fastcgi / app:3000 php {
        index index.php
    }
}
