{% extends 'template/desktop/base.njk' %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    <title>{{ title }}</title>
  {% endblock %}
</head>

<body>
  {% block body %}
    <p>he11o from home</p>

      <ol>
        {% for item in data %}
            <li style="margin-bottom: 15px;"><span>TITLE: {{ item.title }};&nbsp;</span><br><span>TEXT: {{ item.text }}</span></li>
        {% endfor %}
      </ol>
  {% endblock %}

  {% block application %}
    <!-- <script>
      let datta = this;
      console.log (datta);
    </script> -->
  {% endblock %}
</body>
</html>
