<nav class="header__navigation">
  <ul class="navigation__list">
    {% for item in header_menu %}
      <li class="item">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
